.book-info-container {
  display: flex;
  padding: 15px;
}

.book-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.book-title {
  color: black;
}

a {
  text-decoration: none;
}
